 * {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }


 body,
 h1,
 h2,
 p,
 ul,
 li {
     margin: 0;
     padding: 0;
 }

 .site_container {
     /* padding: 0 80px; */
     padding-left: 80px;
     padding-right: 80px;
 }


 /* Style for the header */
 header {
     background-color: #2274a5;
     /* Background color */
     color: #fff;
     /* Text color */
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 12px 20px;
 }

 /* Style for the logo */
 header .LOGO {
     font-size: 22px;
     font-weight: bold;
     cursor: pointer;
 }

 /* Style for the navigation menu */
 .site_navigation {
     display: flex;
     align-items: center;
     gap: 50px;
 }

 .site_navigation ul {
     list-style: none;
     display: flex;
     gap: 20px;
 }

 .nav__anc {
     text-decoration: none;
     color: #fff;
     font-size: 17px;
 }
.active{
    color: #ffbf00;
}


 /* Style for the SignUp button */
 .btn {
     border: none;
     padding: 7px 20px;
     /* border-radius: 4px; */
     cursor: pointer;
     font-weight: 500;
 }

 .signup {
     font-size: 16px;
     background-color: #ffbf00;
     color: black;
 }

 .signup:hover {
     background-color: #ffbf00f6;
     transition: 0.2s ease-out;
 }



 /*  styling course cards */

 .card {
     border: 1px solid #ccc;
     padding: 20px;
     margin: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     width: 480px;
 }

 /* Style for the card title */
 .card h2 {
     font-size: 24px;
     margin-bottom: 10px;
 }

 /* Style for the date posted */
 .card .date {
     color: #888;
     font-size: 14px;
     margin-bottom: 10px;
 }

 /* Style for the description */
 .card p {
     font-size: 16px;
     margin-bottom: 15px;
 }

 /* Style for categories and tags */
 .card .categories {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 10px;
 }

 .card .category {
     background-color: #32936f;
     border: 1px solid #32936f;
     color: #fff;
     padding: 3px 10px;
     border-radius: 6px;
     margin-right: 5px;
     margin-bottom: 5px;
     font-size: 12px;
 }
 .categories__Sec{
    /* border: 2px solid salmon; */
    /* padding: 20px 0; */
    padding-top: 20px;
    padding-bottom: 20px;
 }
  .categories {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 10px;
     gap: 10px;
 }

  .category {
    
    background-color: #32936f;
     border: 1px solid #32936f;
     color: #fff;
     padding: 5px 10px;
     /* border-radius: 6px; */
     font-size: 12px;
 }

 /* Style for the buttons */
 .card .btn-container {
     display: flex;
     /* gap: 20px; */
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 .card .enroll-btn,
 .card .viewmore-btn {
     background-color: #2274a5;
     color: #fff;
     border: none;
     padding: 8px 18px;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     font-size: 16px;
 }

 .card .viewmore-btn {
     color: black;
     background-color: transparent;
 }

 .card .enroll-btn:hover {
     background-color: #2980b9;
 }
.explore__title{
    color: #2274a5;
    font-size: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
}
 .course__row {
     /* border: 1px solid salmon; */
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     transition: 0.2s ease-in;
     align-items: center;
     justify-content: center;

 }
